Não existem perguntas com votos

%table#perguntas
	%tbody
		%tr
			%td Como testar conteúdo de tabela no Cucumber
			%td 2
		%tr
			%td O que é um gemset no RVM ?
			%td 10
		%tr
			%td invalid multibyte char (US-ASCII) with Rails and Ruby 1.9
			%td 40
