%h1 #{@pergunta.titulo}

= button_to 'Votar +', votar_positivo_pergunta_path(@pergunta) , method: "put"
= button_to 'Votar -', votar_negativo_pergunta_path(@pergunta) , method: "put"

%section.pergunta
  Votos: 
  .pergunta#votos= @pergunta.votos
