%h1 #{@pergunta.titulo}

= button_to 'Votar +', positivo_pergunta_voto_path(@pergunta) , method: "put"
= button_to 'Votar -', negativo_pergunta_voto_path(@pergunta) , method: "put"

%section.pergunta
  Votos: 
  .pergunta#votos= @pergunta.votos
