%h3 Perfil do Usuário
Nome: 
= @user.name
%br
Email: 
= @user.email
%br
#perguntas.perguntas
  %h4#qtde_perguntas= @user.questions.any? ? pluralize(@user.questions.count, 'Pergunta', 'Perguntas') : 'O usuário ainda não fez uma pergunta.'
  
