-if @usuario.errors.any?
  .error_explanation 
    .alert.alert-error
      Este Fomrmulário contem =pluralize(@usuario.errors.count, "error")
      %ul 
      -@usuario.errors.full_messages.each do |msg|
        %li* =msg