.center.hero_unit
  %h1 Bem Vindo no Me Ajuda Nisso
  %h2 Aqui você você encontra a resposta!
  .btn.btn-large.btn-primary= link_to "Cadastrar",new_user_registration_path
  = link_to "Login com Facebook", user_omniauth_authorize_path(:facebook)
  = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)





