%h1 Sobre
%p O Me Ajuda Nisso foi desenvolvido por Bruno Andrade e Diego Marcílio como trabalho de conclusão do curso de Ciência da Computação da <a href="http://www.ucb.br">Universidade Católica de Brasília</a>, 2o semestre de 2013.
%p	O sistema foi baseado fortemente no <a href="http://www.stackoverflow.com">StackOverflow</a>, e foi idealizado para ser utilizado nos cursos de TI da UCB.
%p	Foi desenvolvido usando a linguagem <a href="https://www.ruby-lang.org/">Ruby</a> e a framework <a href="http://https://www.ruby-lang.org/">Ruby on Rails</a>. É um projeto open-source, seu código está disponível no <a href="http://www.github.com">GitHub</a>, <a href="https://github.com/dvmarcilio/meajudanisso">nesse repositório</a>.
%p	 Não tem nenhuma intenção de infringir direitos e/ou propriedades intelectuais. Não tem fins lucrativos.

