%h1 Login
= link_to image_tag('meajudanisso.png'), new_user_session_path, id:"logoMeAjudaNisso"
= link_to image_tag('facebook.png'), user_omniauth_authorize_path(:facebook), id:"logo_facebook"
= link_to image_tag('google.png'), user_omniauth_authorize_path(:google_oauth2), id:"logo_google"
